<div class="relative flex items-center justify-between px-[149.5px] py-[44.5px] h-[129px] ">
  <!-- Logo -->
  {% comment %} <img  src="{{ 'IVYKAREEM.png' | asset_url }}" alt="IvyKareem Logo" height="63px"  width="119px " class="w-[119px] h-[63px]"> {% endcomment %}
  <img src="{{ 'IVYKAREEM.png' | asset_url }}" alt="Header Background"  height="63px"  width="119px ">

  <!-- Navigation -->
  <nav class="flex space-x-8 text-white text-sm font-medium">
    <a href="#" class="hover:text-[#6CA082]">Home</a>
    <a href="#" class="hover:text-[#6CA082]">Our Story</a>
    <a href="#" class="hover:text-[#6CA082]">Gallery</a>
    <div class="relative">
      <button type="button" class="flex items-center" aria-expanded="false">
        Services
        <svg class="size-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
          data-slot="icon">
          <path fill-rule="evenodd"
            d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <a href="#" class="hover:text-[#6CA082]">Our Partners</a>
    <a href="#" class="hover:text-[#6CA082]">Connect</a>
  </nav>

  <!-- Shop Button -->
  <a href="#"
    class="px-6 py-2 bg-transparent border border-white text-white rounded-lg hover:bg-green-500 hover:border-green-500 hover:text-black">
    Shop
  </a>
</div>
