<style>
  .marquee-section {
    overflow: hidden;
    display: flex;
    gap: 0px;
  }

  .marquee-section img {
    max-width: 334px;
    max-height: 240px;
    min-width: 334px;
    min-height: 240px;
  }

  @media (max-width: 768px) {
    .marquee-section img {
      max-width: 193px;
      max-height: 139px;
      min-width: 193px;
      min-height: 139px;
    }
  }

  @media (max-width: 426px) {
    .marquee-section img {
      max-width: 193px;
      max-height: 139px;
      min-width: 193px;
      min-height: 139px;
    }
  }
</style>

<div class="marquee-section">
  {% for block in section.blocks %}
    {% if block.settings.image %}
      <img src="{{ block.settings.image | img_url: '334x240' }}" alt="{{ block.settings.alt_text | escape }}" />
    {% else %}
      <img src="{{ 'placeholder.png' | asset_url }}" alt="Placeholder Logo" />
    {% endif %}
  {% endfor %}
</div>

<script>
  function Marquee(selector, speed) {
    const parentSelector = document.querySelector(selector);
    const clone = parentSelector.innerHTML;
    const firstElement = parentSelector.children[0];
    let i = 0;
    parentSelector.insertAdjacentHTML("beforeend", clone);
    parentSelector.insertAdjacentHTML("beforeend", clone);
    setInterval(function () {
      firstElement.style.marginLeft = `-${i}px`;
      if (i > firstElement.clientWidth) {
        i = 0;
      }
      i = i + speed;
    }, 0);
  }

  window.addEventListener("load", Marquee(".marquee-section", 0.2));
</script>

{% schema %}
{
  "name": "Marquee Section",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "default": "Partner Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee Section",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        },
        {
          "type": "image",
          "settings": {
            "alt_text": "Partner Logo"
          }
        }
      ]
    }
  ]
}
{% endschema %}