<style>
  #welcome_luxury_tour {
    padding: 120px 150px;
    margin: 60px 0 123px;
  }
  .welcome_luxury_tour_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
  .welcome_luxury_tour_wrapper h2 {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    /* 112.5% */
    max-width: 42%;
    min-width: 42%;
  }
  .welcome_luxury_tour_wrapper p {
    color: rgba(0, 0, 0, 0.6);
    font-family: Avenir LT Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
  }


  @media (max-width: 768px) {
    #welcome_luxury_tour {
      padding: 40px 32px;
      margin: 0;
    }
    .welcome_luxury_tour_wrapper {
      gap: 24px;
    }
    .welcome_luxury_tour_wrapper h2 {
      font-size: 48px;
      line-height: normal;
      max-width: 40%;
      min-width: 40%;
    }

  }

  @media (max-width: 431px) {
    #welcome_luxury_tour {
      padding: 32px 20px;
    }
    .welcome_luxury_tour_wrapper {
      gap: 24px;
      flex-direction: column;
    }
    .welcome_luxury_tour_wrapper h2 {
      font-size: 42px;
      line-height: normal;
      max-width: 100%;
      min-width: 100%;
    }
    .welcome_luxury_tour_wrapper p {
      font-size: 16px;
    }
  }
</style>

<section id="welcome_luxury_tour">
  <div class="welcome_luxury_tour_wrapper">
    <h2>{{ section.settings.title }}</h2>
    {{ section.settings.details }}
  </div>
</section>

{% schema %}
  {
    "name": "Welcome Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Welcome to the Luxury Tour"
      }, {
        "type": "richtext",
        "id": "details",
        "label": "Enter Details",
        "default": "<p>Where flavors come alive and memories are made. From the sizzle of the pan to the aroma of fresh herbs, every dish is crafted with love, care, and a dash of creativity. Whether you're here for comfort food or culinary inspiration, our kitchen is your home too.Where flavors come alive and memories are made. From the sizzle of the pan to the aroma of fresh herbs, every dish is crafted with love, care, and a dash of creativity. Whether you're here for comfort food or culinary inspiration, our kitchen is your home too.Where flavors come alive and memories are made. From the sizzle of the pan to the aroma of fresh herbs, every dish is crafted with love, care, and a dash of creativity. Whether you're here for comfort food or culinary inspiration, our kitchen is your home too.</p>"
      }
    ],
    "presets": [
      {
        "name": "Welcome Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}